.home {
  background-color: var(--dark-color-700);
  overflow: hidden;
  & .movie-list-container {
    overflow: visible;
    margin-bottom: 24rem;
    & .warning {
      color: #fff;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 10rem;
    }
  }
}
