.productList-container {
  width: 80%;
  position: relative;
  & .movie-btn-container {
    display: inline-block;
  }
  & .productList-table {
    font-size: 1.6rem;
  }
  & .productList-item {
    display: flex;
    align-items: center;
    & .productList-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  & .btn-status {
    padding: 5px 10px;
    margin-right: 20px;
  }
  & .productList-delete-btn {
    font-size: 2.6rem;
    color: red;
    cursor: pointer;
  }
}
