.user-container {
  width: 80%;
  padding: 2rem;
  & .user-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .user-btn-add {
      text-align: center;
      width: 8rem;
      border: none;
      padding: 0.5rem;
      background-color: teal;
      border-radius: 0.5rem;
      cursor: pointer;
      color: #fff;
      font-size: 1.6rem;
    }
  }
  & .user-control-container {
    display: flex;
    margin-top: 2rem;
    & .user-show-container {
      flex: 1;
      padding: 2rem;
      -webkit-box-shadow: 0 0 1.5rem -1rem rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 1.5rem -1rem rgba(0, 0, 0, 0.75);
      & .user-show-top {
        display: flex;
        align-items: center;
        & .user-show-img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          object-fit: cover;
        }
        & .user-show-info {
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
          & .user-show-username {
            font-weight: 600;
          }
          & .user-show-title {
            font-weight: 300;
          }
        }
      }
      & .user-show-bottom {
        margin-top: 2rem;
        & .user-show-title {
          font-size: 1.4rem;
          font-weight: 600;
          color: rgba(175, 170, 170);
        }
        & .user-show-info {
          display: flex;
          align-items: center;
          margin: 2rem 0;
          color: #444;
          & .user-show-icon {
            font-size: 1.6rem;
          }
          & .user-show-info-title {
            margin-left: 1rem;
          }
        }
      }
    }
    & .user-update-container {
      flex: 2;
      padding: 2rem;
      -webkit-box-shadow: 0 0 1.5rem -1rem rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 1.5rem -1rem rgba(0, 0, 0, 0.75);
      margin-left: 2rem;
      & .user-update-title {
        font-size: 2.4rem;
        font-weight: 600;
      }
      & .user-update-form {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        & .left {
          & .user-update-item {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            & label {
              margin-bottom: 0.5rem;
              font-size: 1.4rem;
            }
            & .user-update-input {
              border: none;
              width: 25rem;
              height: 3rem;
              border-bottom: 0.1rem solid gray;
            }
          }
        }
        & .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & .user-update-upload {
            display: flex;
            align-items: center;
            & .user-update-img {
              width: 10rem;
              height: 10rem;
              border-radius: 1rem;
              object-fit: cover;
              margin-right: 2rem;
            }
            & .user-update-icon {
              font-size: 2rem;
              cursor: pointer;
            }
          }
          & .user-update-btn {
            border-radius: 0.5rem;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            background-color: darkblue;
            color: white;
            font-weight: 600;
          }
        }
      }
    }
  }
}
