.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 0.4rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
    /* transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
  }
  // &:disabled {
  //   background-color: rgb(185, 182, 182);
  //   &:hover {
  //     background-color: rgb(185, 182, 182);
  //   }
  // }
}

.btn-func-icon {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 1.5rem;
  cursor: pointer;
  &.striking {
    background-color: rgb(255, 255, 255, 0.8);
    color: var(--dark-color-700);
    &:hover {
      background-color: rgb(255, 255, 255);
      font-weight: 600;
    }
  }
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  color: rgb(191, 189, 189);
  background: none;
  border: 0.1rem solid rgb(191, 189, 189);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s ease;
  & svg {
    font-size: 1.6rem;
  }
  &:hover {
    color: var(--light-text-color);
    border: 0.15rem solid var(--light-text-color);
  }
  &.play-active {
    background: rgba(255, 255, 255, 0.8) !important;
    color: #000 !important;
    &:hover {
      background: rgba(255, 255, 255) !important;
    }
  }
}

.btn-popup {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background: rgba(238, 165, 8);
  border: 1px solid rgb(251, 171, 0);
  border-radius: 0.6rem;
  color: black;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.btn--red {
  background-color: var(--primary-color-light);
  color: var(--light-text-color);
  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.btn--sucess {
  background: rgb(240, 216, 4);
  border-color: rgb(240, 216, 4);
  &:hover,
  &:active {
    background: rgb(251, 255, 2);
    border-color: rgb(251, 255, 2);
  }
}

.btn--danger {
  background: rgb(244, 168, 6);
  border-color: rgb(244, 168, 6);
  &:hover,
  &:active {
    background: rgba(248, 205, 15);
    border-color: rgba(248, 205, 15);
  }
}

.btn--inverse {
  background: transparent;
  color: #000;
  &:hover,
  &:active {
    color: #905806;
    background: rgba(216, 215, 215, 0.6);
  }
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* automatically apply the style of 0% before the animation start  */
  animation-fill-mode: backwards;
}

.link {
  &:link,
  &:visited {
    padding: 0.2rem 0.4rem;
    margin-right: 1.5rem;
    border-radius: 0.4rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  &:hover,
  &:active,
  &.active {
    background-color: rgb(247, 247, 247);
    color: #000;
  }
  &:focus {
    outline: 1px solid white;
  }
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 2.5%;
  left: 96%;
  transform: translateX(-100%);
  cursor: pointer;
  transition: all 0.2s;
}

.btn-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
