.input-container {
  padding-bottom: 1.6rem;
  .input {
    width: 100%;
    position: relative;
    font-size: 1.6rem;
    & .hasText {
      & + label,
      &:focus + label {
        top: 0.7rem;
        transform: translateY(0);
        font-size: 1.1rem;
      }
    }
    & label {
      color: var(--dark-text-color);
      position: absolute;
      left: 2rem;
      top: 50%;
      transform: translateY(-50%);
      transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
    }
    & input,
    & textarea {
      display: inline-block;
      // margin-left: 0.5rem;
      font-size: 1.6rem;

      width: 100%;
      height: 5rem;
      padding: 1rem;
      border-radius: 0.4rem;
      border: 0;
      color: var(--light-text-color);
      padding: 1.6rem 2rem 0;
      line-height: 5rem;
      background: #333;
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        // outline: 1px solid var(--light-border-color);
        outline: none;
        -webkit-box-shadow: 0 0 0px 100rem #333 inset !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255);
      }
      &:focus {
        outline: none;
        background-color: #454545;
      }
      &:-webkit-autofill + label {
        // color: #000;
      }
    }
    & textarea {
      resize: vertical;
      height: 15rem;
    }
  }
}

// .input input::-webkit-input-placeholder {
//   color: rgba(97, 97, 97, 0.4);
// }

.invalid.input::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.6rem;
  border-bottom: 0.2rem solid #e87c03;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

// /* .invalid label {
//   color: rgb(231, 7, 7);
//   font-weight: 700;
// } */

.error-message {
  font-size: 1.3rem;
  color: #e87c03;
  margin-bottom: -0.6rem;
  padding: 0.6rem 0.3rem;
}

// .invalid input {
//   margin-bottom: 0;
// }
