.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/8ee18735-ada3-45be-b383-a94701054bb9/c9e54739-cb41-4445-b88e-2246b8c16cea/VN-en-20220613-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  position: relative;

  & .top {
    & .wrapper {
      padding: 2rem 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .logo {
        height: 4rem;
      }
    }
  }
  .login-form {
    width: 45rem;
    height: 66rem;
    margin: 0 auto;
    padding: 6rem 6.8rem 4rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    & .login-form-main {
      width: 100%;
      flex-grow: 1;
      & h1 {
        font-size: 3.2rem;
        margin-bottom: 2.8rem;
      }
      & form {
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        // justify-content: space-around;

        // & input {
        //   height: 5rem;
        //   border-radius: 0.5rem;
        //   background-color: gray;
        //   color: #fff;
        //   padding-left: 1rem;
        //   margin-bottom: 1.6rem;
        //   &::placeholder {
        //     color: lightgray;
        //   }
        // }

        & button {
          border-radius: 0.4rem;
          background-color: red;
          color: white;
          border: none;
          font-size: 1.8rem;
          font-weight: 700;
          cursor: pointer;
          margin: 2.4rem 0 1.2rem;
          padding: 1.6rem;
        }
      }
    }
    & .login-form-other {
      color: #737373;
      flex-grow: 2;

      & .login-signup-now {
        font-size: 1.6rem;
        margin-top: 1.6rem;
        & a {
          color: #fff;
          &:hover {
          }
        }
      }
      & .term-of-use {
        font-size: 1.3rem;
        margin-top: 1.1rem;
        text-align: left;
        & a {
          color: #0771eb;
        }
      }
    }
  }
}
