.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 0.4rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
    /* transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); */
  }
  // &:disabled {
  //   background-color: rgb(185, 182, 182);
  //   &:hover {
  //     background-color: rgb(185, 182, 182);
  //   }
  // }
}

.btn-upload {
  background-color: #ebf1fe;
  border: 0.5px solid rgb(118, 118, 118);
  padding: 1rem 2rem;
  text-transform: capitalize;
  color: rgb(126, 124, 124);
  &:hover {
    background-color: rgba(223, 223, 223);
    color: #000;
  }
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.4rem;
  background-color: #ebf1fe;
  color: rgb(126, 124, 124);
  border: 0.5px solid rgb(118, 118, 118);
  padding: 0.5rem;
  text-transform: capitalize;
  transition: all 0.25s ease;
  & .item-icon {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
  &:hover {
    background-color: rgba(223, 223, 223);
    color: #000;
  }
}

.btn-status {
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 1rem;
  text-transform: capitalize;
  &.approved {
    background-color: #e5faf2;
    color: #3bb077;
  }
  &.declined {
    background-color: #fff0f1;
    color: #d95087;
  }
  &.pending {
    background-color: #ebf1fe;
    color: #2a7ade;
  }
  &.edit {
    background-color: #3bb077;
    color: #fff;
  }
}

.btn-popup {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background: rgba(238, 165, 8);
  border: 1px solid rgb(251, 171, 0);
  border-radius: 0.6rem;
  color: black;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.btn--red {
  background-color: var(--primary-color-light);
  color: var(--light-text-color);
  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.btn--sucess {
  background: rgb(240, 216, 4);
  border-color: rgb(240, 216, 4);
  &:hover,
  &:active {
    background: rgb(251, 255, 2);
    border-color: rgb(251, 255, 2);
  }
}

.btn--danger {
  background: var(--danger-color-dark);
  border-color: var(--danger-color-dark);
  font-weight: 600;
  &:hover,
  &:active {
    background: var(--danger-color-light);
    border-color: var(--danger-color-light);
  }
}

.btn--inverse {
  background: transparent;
  color: #000;
  &:hover,
  &:active {
    color: #905806;
    background: rgba(216, 215, 215, 0.6);
  }
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* automatically apply the style of 0% before the animation start  */
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  color: var(--light-text-color);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--light-text-color);
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: var(--light-text-color);
  color: var(--light-text-color);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY((-2px));
}
.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY((0));
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: none;
  position: absolute;
  top: 2.5%;
  left: 96%;
  transform: translateX(-100%);
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.2s;
}

.btn-close:hover {
  border-radius: 50%;
  background-color: rgb(66, 64, 64, 0.2);
}
