@import "../../../sass/_variables.scss";
.navbar {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 4rem 1.5rem;

  // position: fixed;
  // top: 0;
  // z-index: 101;
  // padding: 0 5rem;
  color: white;
  transition: all 0.3s ease;
  @media only screen and (min-width: $bp-smallest) {
    padding: 4rem;
  }
  @media only screen and (min-width: $bp-largest) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  &.scrolled {
    background-color: rgb(11, 11, 11, 0.75);
    box-shadow: 0 0.2rem 1.2rem 0 rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
  & .navbar-item {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;

    @media only screen and (min-width: $bp-smallest) {
      font-size: 1.8rem;
    }
    @media only screen and (min-width: $bp-largest) {
      font-size: 1.6rem;
      margin-bottom: 0;
      border-radius: 0;
    }
  }
  & .left {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.6rem;
    @media only screen and (min-width: $bp-largest) {
      flex-direction: row;
      align-items: center;
    }

    & .navbar-item {
      &__home-link {
        display: none;
        @media only screen and (min-width: $bp-largest) {
          display: block;
        }
      }
    }
    img {
      height: 3rem;
      margin-right: 3rem;
    }
    span {
      cursor: pointer;
    }
  }
  & .right {
    display: none;
    gap: 2rem;
    align-items: flex-start;
    font-size: 1.6rem;
    @media only screen and (min-width: $bp-largest) {
      display: flex;
      align-items: center;
    }
    & .icon {
      width: 2rem;
      height: 2rem;
      margin: 0rem 1.5rem;
      cursor: pointer;
    }
    & .menu-container {
      position: relative;
      & .profile-img {
        position: relative;
        width: 4.2rem;
        height: 4.2rem;
        transition: all 0.2s;
        border-radius: 50%;
        cursor: pointer;
        & img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 0 1.5rem 0rem rgba(216, 216, 216, 0.75);
        }
      }
      // & .btn-icon {
      //   width: 4rem;
      //   height: 4rem;
      //   border: none;
      //   & svg {
      //     font-size: 4rem;
      //   }
      // }
      & .opt-list {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 130%;
        left: 50%;
        transform: translate(-50%, 0);
        list-style: none;
        background-color: var(--dark-color-700);
        border-radius: 0.5rem;
        transition: all 0.2s;
        & .opt-list_item {
          & .btn {
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
              "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            color: rgb(202, 202, 202);
            padding: 1rem 2rem;
            background-color: rgb(75, 75, 75);
            font-size: 1.2rem;
            padding: 1rem 1.5rem;

            &:hover {
              color: #fff;
              background-color: rgb(90, 90, 90);
            }
          }
        }
      }
      &:hover {
        & .opt-list {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &__side-drawer {
      width: 100%;
      display: flex;
      gap: 1.2rem;

      flex-direction: column;
      & .searchForm-container {
        width: 100%;
        margin-right: 0;
        & .searchView-container {
          margin-right: 0;
          & .input-container {
            & .input {
              & input {
                padding: 0.5rem;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      & .menu-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & .profile-img {
          width: 10rem;
          height: 10rem;
          margin-bottom: 1.5rem;
          border-radius: 1rem;
          box-shadow: 0 0 1.5rem 0rem rgba(255, 255, 255, 0.5);
          @media only screen and (min-width: $bp-small) {
            width: 20rem;
            height: 20rem;
          }
          & img {
            border-radius: 1rem;
          }
        }
        & .btn {
          padding: 0.8rem;
          font-size: 1rem;
        }
      }
      @media only screen and (min-width: $bp-largest) {
        display: none;
      }
    }
  }
}
