.side-drawer {
  font-size: 3.2rem;
  width: 50%;
  height: 100vh;
  /* background-color: #eee; */
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.85) 50%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  box-shadow: 0 0.2rem 1rem rgba(255, 255, 255, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.4s linear;
}

.side-drawer.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
