.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  // display: block;

  // margin: 1px;
  // border-radius: 50%;
  // border: 3px solid #f81919;
  // border-color: #f81919 transparent #f81919 transparent;
  background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  margin: -6px;
  width: 46px;
  height: 46px;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-spinner__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  // background: rgba(255, 255, 255, 0.5);
  background: rgba(124, 120, 120, 0.5);
  backdrop-filter: blur(1px);
  &.bg-inherit {
    background: inherit;
  }
  -webkit-backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
