.payment-form {
  background-color: red;
  & .paymentInput-container {
    width: 50rem;
    & .inputPayment-row {
      & .StripeElement {
        padding: 2rem;
        width: 100%;
        & .CardField {
          height: 4rem !important;
          // width: 20rem;
        }
      }
    }
  }
}
