@import "../../../../sass/variables";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 103;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  animation: backdropPopup 1.2s infinite linear;
}

.modal {
  position: fixed;
  width: 35rem;
  top: 13vh;
  left: calc(50% - 17.5rem);
  z-index: 104;
  transform: translateX(-50%);
  /* width: auto; */
  background-color: transparents;
  /* padding: 1rem; */
  border-radius: 1.2rem;
  /* box-shadow: 0 2px 8px 6px rgba(0, 0, 0, 0.25); */

  // animation: slideDown 350ms ease-out forwards;
  &.popup {
    width: 35rem;
    top: 30vh;
    left: calc(50% - 17.5rem);
    font-size: 1.6rem;
    border-radius: 0.8rem;
    background-color: white;
    /* padding: 1rem; */
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.3);
  }
  &.msg {
    width: auto;
    top: 10vh;
    left: 50%;
    // transform: translateX(0);
    font-size: 1.4rem;
    border-radius: 0.6rem;
    background-color: white;
    box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.3);
  }
  &.popup-hidden {
    animation: slideUp 350ms ease-out forwards;
  }
  & .modal__header {
    width: 100%;
    padding: 1rem;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    background-color: rgba(238, 165, 8);
    color: black;
    &.msg-header {
      background-color: rgb(255, 209, 2);
    }
    & h2 {
      /* margin: 0.5rem; */
    }
  }
  & .modal__content {
    /* margin: 0.5rem; */
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    @media only screen and (min-width: $bp-smallest) {
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
    }
  }
  & .modal__footer {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
    top: 20vh;
    &.popup {
      width: 50rem;
      left: calc(50% - 25rem);
    }
  }
}
