@import "../../../sass/variables";

.movie-item {
  width: 14rem;
  height: 8rem;
  display: inline-block;
  border-radius: 0.4rem;
  margin-right: 0.8rem;
  color: white;
  transition: all 0.4s ease-in-out;
  background-color: var(--dark-color-700);
  position: relative;
  @media only screen and (min-width: $bp-smallest) {
    width: 20rem;
    height: 12rem;
  }
  &.large {
    width: 20rem;
    height: 12rem;
    @media only screen and (min-width: $bp-smallest) {
      width: 22rem;
      height: 12rem;
    }
  }
  & .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border-top-left-radius: 0.4rem;
    // border-top-right-radius: 0.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    &.hide {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }
  & video {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    &.trailer-video {
      &.deactive {
        display: none;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  & .description {
    display: none;
    // visibility: hidden;
    // opacity: 0;
    width: 14rem;
    position: absolute;
    z-index: 100;
    margin-top: -1rem;
    background-color: #272727;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    @media only screen and (min-width: $bp-smallest) {
      width: 20rem;
    }
    &.large {
      width: 20rem;
      @media only screen and (min-width: $bp-smallest) {
        width: 22rem;
      }
    }
    & .description__btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      & .btn-icon {
        width: 1.8rem;
        height: 1.8rem;
        & svg {
          font-size: 1.2rem;
          @media only screen and (min-width: $bp-smallest) {
            font-size: 1.6rem;
          }
        }
        @media only screen and (min-width: $bp-smallest) {
          padding: 1rem;
          width: 2.6rem;
          height: 2.6rem;
        }
      }
      & .left {
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }
    }
    & .description__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      color: var(--light-text-color) fff;
      @media only screen and (min-width: $bp-smallest) {
        padding: 1rem;
        font-size: 1.28rem;
      }
      & span {
        display: inline-block;
      }
      & .description__top {
        margin-bottom: 0.5rem;
        & .description__match {
          color: green;
        }
        & .description__limit {
          border: 0.1rem solid gray;
          padding: 0 0.3rem;
          margin: 0 1rem;
        }
      }
      & .description__bottom {
        margin-bottom: 0.5rem;

        & .description__genre {
          width: 100%;
        }
      }
    }
  }
  &:hover {
    transform: scaleX(1.2) scaleY(1.3);
    // @media only screen and (min-width: $bp-smallest) {
    //   transform: scaleX(1.2) scaleY(1.3);
    // }
    @media only screen and (min-width: $bp-small) {
      transform: scaleX(1.4) scaleY(1.5);
    }
    z-index: 2;
    -webkit-box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 0.07);
    & .description {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}
