$bp-largest: 75em; // 1200px / 16px = 75em
$bp-large: 68.75em; // 1100px / 16px = 68.75em
$bp-medium: 56.25em; // 900px / 16px = 56.25em
$bp-moderate: 43.75em; // 700px / 16px = 43.75em
$bp-small: 37.5em; // 600px / 16px = 37.5em
$bp-smallest: 31.25em; // 500px / 16px = 31.25em
$bp-min: 20em; // 300px / 16px = 20em
