.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: fixed;
  width: 35rem;
  top: 13vh;
  left: calc(50% - 17.5rem);
  z-index: 102;
  transform: translateX(-50%);
  /* width: auto; */
  background-color: transparents;
  /* padding: 1rem; */
  border-radius: 1.2rem;
  /* box-shadow: 0 2px 8px 6px rgba(0, 0, 0, 0.25); */

  animation: slide-down 350ms ease-out forwards;
}

.modal.popup {
  width: 35rem;
  top: 30vh;
  left: calc(50% - 17.5rem);
  font-size: 1.6rem;
  border-radius: 0.8rem;
  background-color: white;
  /* padding: 1rem; */
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.3);
}

.modal__header.msg-header {
  background-color: rgb(255, 209, 2);
}

.popup-hidden {
  animation: slide-up 350ms ease-out forwards;
}

.modal__header {
  width: 100%;
  padding: 1rem;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  background-color: var(--danger-color-dark);
  color: black;
}

.modal__header h2 {
  /* margin: 0.5rem; */
}

.modal__content {
  /* margin: 0.5rem; */
  padding: 1rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
    top: 20vh;
  }
  .modal.popup {
    width: 50rem;
    left: calc(50% - 25rem);
  }
}
