.register {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & .regisNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 2rem 5rem;
    // border-bottom: 0.1rem solid #e6e6e6;
    & .logo {
      height: 4rem;
    }
    & .btn-login {
      border-radius: 0.5rem;
      padding: 0.5rem 1.5rem;
    }
  }
  & .welcome-container {
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-text-color);
    padding: 2rem 4rem;
    margin-bottom: 8rem;
    & h1 {
      display: block;
      // width: 50%;
      text-align: center;
      font-size: 6.4rem;
    }
    & h2 {
      margin: 2rem;
      font-size: 2.6rem;
    }
    & p {
      font-size: 1.9rem;
    }
    & .input-signup-container {
      min-width: 70rem;
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      & .input-container {
        flex: 70%;
        height: 100%;
        border: none;
        padding: 0;
        & .input {
          height: 100%;
          & .hasText {
            & + label,
            &:focus + label {
              font-size: 1.3rem;
            }
          }
          & input {
            background-color: var(--light-text-color);
            color: #000;
            height: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        & .invalid.input::after {
          border-bottom-right-radius: 0;
        }
      }
      & .btn-register {
        flex: 30%;
        height: 100%;
        font-size: 2.2rem;
        padding: 0.5rem 1.5rem;
        border-radius: 0;
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
      }
    }
  }
  & .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 6rem 4rem;
    padding-top: 3rem;
    border-radius: 0.6rem;
    backdrop-filter: blur(3px);
    & .heading {
      margin-bottom: 2.5rem;
      color: var(--light-text-color);
      font-size: 2rem;
      line-height: 3.5rem;
      & span {
        text-transform: capitalize;
        color: var(--primary-color-light);
        display: block;
        font-size: 2.6rem;
      }
    }
    & .input-container {
      & .input {
        margin-bottom: 1rem;
      }
    }
    & .btn-signup {
      margin-top: 1.5rem;
    }
  }
}
