@import "../../../sass/variables";

.modal-movie-detail {
  width: 25rem;
  left: calc(50% - 12.5rem);
  background-color: rgb(28, 28, 28);
  top: 6vh;
  transform: translateX(0);
  @media only screen and (min-width: $bp-min) {
    width: 30rem;
    left: calc(50% - 15rem);
    top: 8vh;
  }
  @media only screen and (min-width: $bp-smallest) {
    width: 40rem;
    left: calc(50% - 20rem);
  }
  @media only screen and (min-width: $bp-moderate) {
    width: 60rem;
    left: calc(50% - 30rem);
  }
  @media only screen and (min-width: $bp-medium) {
    width: 80rem;
    left: calc(50% - 40rem);
  }
  & .top {
    position: relative;
    height: 20rem;
    @media only screen and (min-height: $bp-small) {
      height: 25rem;
    }
    @media only screen and (min-height: $bp-moderate) {
      height: 30rem;
    }
    @media only screen and (min-width: $bp-moderate) {
      height: 45rem;
    }
    & .poster-video-container {
      position: relative;
      height: 100%;
      & .bg-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0),
          rgb(28, 28, 28)
        );
      }
      & .poster-video {
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & .intrt-btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 70%;
      width: 100%;
      padding: 1.5rem;
      @media only screen and (min-width: $bp-moderate) {
        padding: 2rem 4rem;
        top: 75%;
      }
      & .left,
      & .right {
        display: flex;
        align-items: center;
        align-items: center;
      }
    }
    & .btn-func-icon {
      font-size: 1.4rem;
      padding: 0.5rem 0.8rem;
      margin-right: 0.4rem;
      @media only screen and (min-width: $bp-smallest) {
        margin-right: 1rem;
      }
      @media only screen and (min-width: $bp-moderate) {
        padding: 0.5rem 2rem;
        font-size: 1.8rem;
      }
      & svg {
        font-size: 2.2rem;
        @media only screen and (min-width: $bp-moderate) {
          font-size: 3.8rem;
        }
      }
    }
    & .btn-icon {
      width: 2.4rem;
      height: 2.4rem;
      font-size: 3rem;
      background-color: rgb(32, 32, 32, 0.6);
      @media only screen and (min-width: $bp-smallest) {
        width: 3rem;
        height: 3rem;
      }
      @media only screen and (min-height: $bp-small) {
        width: 3.4rem;
        height: 3.4rem;
      }
      @media only screen and (min-width: $bp-moderate) {
        width: 4.6rem;
        height: 4.6rem;
      }
      &:not(:last-child) {
        margin-right: 0.4rem;
        @media only screen and (min-width: $bp-smallest) {
          margin-right: 1rem;
        }
      }
      & svg {
        font-size: 1.8rem;
        @media only screen and (min-width: $bp-moderate) {
          font-size: 2.4rem;
        }
      }
      &.btn-close {
        left: 98%;
        border: 0.15rem solid rgb(15, 15, 15, 0.85);
        background-color: rgb(15, 15, 15, 0.85);
        &:hover {
          color: var(--light-text-color);
          border: 0.15rem solid var(--light-text-color);
        }
      }
    }
  }
  & .bottom {
    margin-bottom: 2rem;
    height: 20rem;
    overflow-y: scroll;
    @media only screen and (min-height: $bp-small) {
      height: 25rem;
    }
    // @media only screen and (min-width: $bp-xsmall) {
    //   height: 25rem;
    // }
    @media only screen and (min-width: $bp-moderate) {
      height: auto;
    }
    & .description-container {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      font-size: 1rem;
      color: rgb(199, 199, 199);
      @media only screen and (min-width: $bp-moderate) {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 4rem;
        font-size: 1.4rem;
      }
      & .detail-description {
        flex: 2;
        @media only screen and (min-width: $bp-moderate) {
          margin-right: 4rem;
        }
        & .category-responsive {
          display: block;
          @media only screen and (min-width: $bp-moderate) {
            display: none;
          }
        }
        & .publish-info {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;
          @media only screen and (min-width: $bp-moderate) {
            margin-bottom: 1.5rem;
          }
          & .matching {
            color: green;
          }
          & .type {
            border: 0.1rem solid gray;
            padding: 0.5rem 1rem;
          }
        }
        & .description-info {
          text-align: justify;
          & .warning {
            color: #fff;
            margin-bottom: 1rem;
            @media only screen and (min-width: $bp-moderate) {
              margin-bottom: 1.5rem;
            }
          }
        }
      }
      & .category {
        flex: 1;
        display: none;
        @media only screen and (min-width: $bp-moderate) {
          display: block;
        }
        & .cast,
        & .genre,
        & .adj {
          display: flex;
          text-transform: capitalize;
          margin-bottom: 0.5rem;
          @media only screen and (min-width: $bp-moderate) {
            margin-bottom: 1.5rem;
          }
          & span {
            display: inline-block;
            margin-right: 1rem;
            color: gray;
            text-transform: none;
          }
        }
      }
    }
  }
}
