.seearchItem-container {
  &--small {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    & .poster-container {
      flex: 1;
      border-radius: 0.4rem;
      cursor: pointer;
      overflow: hidden;
      & .poster-img {
        width: 100%;
        height: 100%;
        border-radius: 0.4rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.2s;
      }
    }
    & .info-container {
      flex: 2;
      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
      font-size: 1.4rem;
      color: rgb(192, 192, 192);
      font-weight: 500;
      transition: all 0.2s;
      & .info_title {
        font-size: 1.6rem;
        transition: all 0.2s;
      }
    }
    &:hover {
      & .info-container {
        color: #fff;
        & .info_title {
          color: #e50914;
          font-weight: 800;
        }
      }
      & .poster-container {
        & .poster-img {
          transform: scale(1.2);
        }
      }
    }
  }
}
