.navbar {
  width: 100%;
  color: white;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  z-index: 101;
  transition: all 0.3s ease;
  &.scrolled {
    background-color: rgb(11, 11, 11, 0.75);
    box-shadow: 0 0.2rem 1.2rem 0 rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  & .container {
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    & .left {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      img {
        height: 3rem;
        margin-right: 3rem;
      }

      span {
        cursor: pointer;
      }
    }
    & .right {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      & .icon {
        width: 2rem;
        height: 2rem;
        margin: 0rem 1.5rem;
        cursor: pointer;
      }

      & .menu {
        position: relative;
        & .options {
          display: none;
          background-color: var(--dark-color-700);
          border-radius: 0.5rem;
        }
        span {
          padding: 1rem;
          cursor: pointer;
        }
        &:hover {
          & .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }

      & img {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}
